body {
    min-height: 100vh;
    background-color: #f5f0e9;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
}

/* Headline Section */
.headline-section-background {
    background-image: radial-gradient(circle at right, #fca057, #f5f0e9, #f5f0e9, #f5f0e9, #f5f0e9);
}
.headline-container {
    margin: 0 auto;
    max-width: 800px;
    margin-bottom: 300px;
}
.headline-text {
    font-size: 80px;
}