/* Global */
html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    min-height: 100vh;
    background-color: #f5f0e9;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

section {
    height: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    scroll-snap-align: start;
}

.first-section {
    scroll-margin-top: 56px;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #000 !important;
}

/* Headline Section */
.headline-section-background {
    background-image: radial-gradient(circle at right, #fca159, #f5f0e9, #f5f0e9, #f5f0e9, #f5f0e9);
}

.headline-container {
    margin: 0 auto;
    max-width: 800px;
    margin-bottom: 300px;
}

.headline-text {
    font-size: 80px;
}

/* About me Section */
.about-me-background {
    background-color: #eee7dd;
}

.about-me-container {
    margin: 0 auto;
    max-width: 900px;
}

.about-me-heading {
    font-size: 60px;
}

.card-picture {
    width: 350px;
    border-radius: 50%;
}

/* NavBar */
.navbar {
    background-color: #f5f0e9;
}

.nav-link {
    color: #000 !important;
}

.nav-link.active {
    background: rgba(255, 255, 255, 0) !important;
    color: #6c757d!important;
}

.resume-button-curve {
    background-color: #fca159;
    border-radius: 10px;
    color: #fff;
}

/* Work Experience Section */
.work-experience-background {
    background-color: #f5f0e9;
}
.work-experience-main-container {
    margin: 0 auto;
    color: #000;
    margin-top: 8%;
}
.timeline {
    position: relative;
    max-width: 1800px;
    margin: 100px auto;
}
.work-container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
}
.work-container img {
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.right-container img {
    left: -20px;
}
.timeline::after{
   content: '';
   position: absolute;
   width: 6px;
   height: 100%; 
   background: #000;
   top: 0;
   left: 50%;
   margin-left: -3px;
   z-index: 1;
   animation: timelinemove 2s linear forwards;
}
@keyframes timelinemove {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}
.text-box {
    padding: 20px 30px;
    position: relative;
    font-size: 15px;
}
.left-container {
    left: 0;
}
.work-experience-duration {
    color: #000;
}
.left-container .work-experience-duration {
    position: relative;
    left: 80% !important;
}
.right-container {
    left: 50%;
}

.work-experience-company-title {
    font-size: 36px;
}
/* Portfolio */
.portfolio-background {
    background-color: #eee7dd;
}

.portfolio-container {
    margin: 0 auto;
    max-width: 90%;
    margin-top: 5%;

}

.card {
    border-radius: 10px !important;
    border: 10px solid #fff !important;
    transition: transform 1s ease-in-out; 
}

.card:hover {
    transform: translateY(-30px); 
}

.card:not(.active-card) {
    opacity: 0.5;
}

.active-card {
    transform: scale(1.1);
    transition: 2s;
}

.portfolio-badge-purple {
    background-color: #916ca3;
    color: #fff;
}

.circularButton {
    width: 70px; 
    height: 70px; 
    border-radius: 50%; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-colour {
    background-color: #fba056;
}

/* Mobile Friendly */
@media (max-width: 1200px) {
    html {
        scroll-snap-type: none;
    }

    .headline-text, .about-me-heading {
        font-size: 50px;
        text-align: center; 
    }

    .card-picture {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 350px;
    }

    .about-me-container img {
        width: 50%;
    }
    .active-card {
        transform: scale(1);
    }
    .card:not(.active-card) {
        opacity: 1;
    }
    .circularButton {
        display: none;
    }
}

@media (max-width: 1200px) {
    .work-container {
        width: 100%;
        padding: 10px 40px;
    }
    
    .left-container .work-experience-duration, .right-container .work-experience-duration {
        position: relative;
        left: 0 !important;
    }

    .left-container img, .right-container img {
        left: 10px;
    }
    .work-experience-heading, .work-experience-company-title {
        font-size: 22px;
    }
    .timeline {
        margin: 0px auto;
        max-width: 100% !important;
    }
    .timeline::after {
        left: 30px;
    }
    .text-box {
        font-size: 12px;
        padding: 0px 0px;
    }
    .right-container {
        left: 0;
    }
}

@media (min-width: 1048px) { 
    .navbar,.container {
      display: flex;
      justify-content: space-between;
    }

    .navbar-collapse {
      flex-grow: 0;
    }
}

@media (max-width: 1400px) {

    .card-group {
        display: block;
    }

    .active-card {
        transform: scale(1);
    }
    .card:not(.active-card) {
        opacity: 1;
    }
    .circularButton {
        display: none;
    }
}

/* Badges */
.badge-python {
    background-color: #306998;
    color: white;
}
.badge {
    border-radius: 10px;
}

/* Icons */
.fa {
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    font-size: 32px;
}
.fa:hover {
    transform: scale(1.2);
    color: #fca159;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}