body {
    min-height: 100vh;
    background-color: #1D1D1D;
}
.center-con {
    margin: 0 auto;
    max-width: 1200px;
    border: 2px solid #9c9a98;
    border-radius: 10px;
}

.proj {
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 150px;
}
h1,h2,h3,h4,h5,h6 {
    color: #ffffff;
    font-family: 'Poppins';
}
p {
    color: #fff;
    font-family: 'Poppins';
}
.my-name {
    color: #2bd661;
}

a { 
    text-decoration: none;
    color: #fff;
}
a:hover {
    color:#fff;
}

.card {
    background-color: #333333;
    height: 440px;
}
.card-text,.card-title {
    color: #fff;
}

.card:hover {
    transform: translateY(-3px);
    transition: 0.4s;
    /* border: 1px solid white; */
}

.nav-portfolio {
    margin: 0 auto;
    overflow: hidden;
    max-width: 1200px;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
}

.nav-portfolio a {
    float: left;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 18px;
}
  
.items-right {
    float: right;
}

.text-card {
    font-size: 14px;
}

.language-used {
    background-color: #333333;
    border: 2px solid #9c9a98;
    border-radius: 10px;
    color: #fff;
    
}
.live-site-link {
    color: #2bd661;
}

.github-link {
    color: #BB86FC;
}

.linkedin {
    font-size: 50px !important;
    color: #2bd661;
    transition: 0.5s;
}

.linkedin:hover {
    color: #fff;
}

.github {
    font-size: 50px !important;
    color: #2bd661;
    transition: 0.5s;
}

.github:hover {
    color: #fff;
}

.mail {
    font-size: 50px !important;
    color: #2bd661;
    transition: 0.5s;

}

.mail:hover {
    color: #00a2ed;
}